body {
    background: linear-gradient(135deg, #fff9db, #fffef5);
    margin: 0;
    padding-top: 140px; 
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 20px 60px;
  border-radius: 20px;
  height: 120px;

  position: fixed;  
  top: 0;            
  width: 95%;      
  z-index: 1000;  
}

.tema {
    color: gold;
    font-size: 80px;
    font-weight: bold;
    opacity: 0;
    transform: translateX(-200px);
    animation: onga 1s ease forwards;
}


@keyframes onga {
    to {
        opacity: 1;
        transform: translateX(0);
    }
} 

.links { 
  font-size: 40px;
  display: flex;
  gap: 35px;
}

.links li {
    opacity: 0;
    transform: translateX(50px);
    animation: shepke 0.8s forwards;
}

.links li:nth-child(1) { animation-delay: 0.3s; }
.links li:nth-child(2) { animation-delay: 0.6s; }
.links li:nth-child(3) { animation-delay: 0.9s; }
.links li:nth-child(4) { animation-delay: 1.2s; }

@keyframes shepke {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.links a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.5s;
}

.links a:hover {
  background: gold;
  color: black;
  font-size: 45px;
  box-shadow: 0 0 25px gold; 
  transition: 0.5s;
}




h2 {
    font-size: 50px;
}


label {
    font-size: 45px;
}

div input  {
    font-size: 40px;
}

div textarea {
    font-size: 40px;
}

form {
    text-align: center;
    background: #ffed9d;
    padding: 40px 30px;
    border-radius: 12px;
    width: 1200px;      
    max-width: 1900px;    
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    margin: 0 auto;
    margin-top: 50px;
}

input, textarea, button {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    font-size: 40px;
    background: linear-gradient(90deg, #FFE600, #FF8A00, #FF4D4D);
    border: none;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.3s;
}

button:hover {
    background: linear-gradient(120deg, #FFD54F, #FF8F00, #FF5722, #FF3D00);
    transform: scale(1.05);
    box-shadow: 0 7px 20px rgba(0,0,0,0.3);
}



